.welcome-container {
    padding: 50px;
    background-color: #f8f9fa;
    min-height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 1.25rem;
  }
  